name: quantum-gan
channels:
  - conda-forge
  - pytorch
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - numpy
  - matplotlib
  - networkx
  - pip
  - pip:
    - pennylane
    - rdkit
    - qiskit

